<div>
<!--<h5 class="roboto-regular bigPadding" translate="IDENTIFICATION"></h5>-->
<div class="noUserSection">
    <label class="roboto-medium" translate="Already_have_an_account" ></label>

    <sec-form>


        <sec-view a-hint="{{'User_name' | translate}}"
                  a-star="false"
                  sec-model="orderPaymenLogin.loginUser"
                  sec-require="mainCtrl.getRequire('User_name')"
                  sec-min-length="mainCtrl.getMin(5)"
                  sec-max-length="mainCtrl.getMax(15)"
                  sec-pattern="mainCtrl.getPattern('Username')">
        </sec-view>

        <!--sec-pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{0,12})" pattern-error-attr="Use_up_to_12_characters_Include_at_least_one_letter_and_one_number"-->

        <sec-view a-hint="{{'Password' | translate}}"
                  a-star="false"
                  a-type="password"
                  sec-model="orderPaymenLogin.loginPassword"
                  sec-require="mainCtrl.getRequire('Password')"
                  sec-min-length="mainCtrl.getMin(4)"
                  sec-max-length="mainCtrl.getMax(12)"
                  sec-pattern="mainCtrl.getPattern('Password')">
        </sec-view>


        <sec-view a-hint="{{'Email' | translate}}"
                  a-star="false"
                  ng-show="config.emailAddressInLogin"
                  sec-model="orderPaymenLogin.email"
                  sec-disable-validation="!config.emailAddressInLogin"
                  sec-require="mainCtrl.getRequire('Email')"
                  sec-pattern="mainCtrl.getPattern('Email')">
        </sec-view>

        <label translate="Forgot_your_password"
               class="roboto-regular"
               id="Forgot_your_password">
        </label>

        <br />

        <sec-sender class="roboto-medium" a-value="{{'LOGIN' | translate}}"
                    sec-send="orderPaymenLogin_signIn()"></sec-sender>

        <br />


        <label ng-class="{ invalid : rsMessage._class == 'invalid' }" > {{ rsMessage.text }}</label>

    </sec-form>
</div>
<div id="newClient" class="noUserSection .noUserLogin">
    <div class="cover">
        <div data-ng-class="{ noEmail : !config.emailAddressInLogin }">
            <label class="roboto-medium" translate="New_client" ></label>
            <p translate="Create_your_account_easily"></p>
        </div>
        <a href="#/register" class="a-button roboto-medium"
           data-ng-class="{ buttonDisable : invalidItems.length > 0 }" translate="REGISTRATION">
        </a>
    </div>
</div>
</div>












