<div class="PopUp">
    <div>

        <div class="loader">
            <div>
                <svg width="50" height="50" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
                            <stop stop-color="#54B3AD" stop-opacity="0" offset="0%"/>
                            <stop stop-color="#54B3AD" stop-opacity=".631" offset="63.146%"/>
                            <stop stop-color="#54B3AD" offset="100%"/>
                        </linearGradient>
                    </defs>
                    <g fill="none" fill-rule="evenodd">
                        <g transform="translate(1 1)">
                            <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2">
                                <animateTransform
                                        attributeName="transform"
                                        type="rotate"
                                        from="0 18 18"
                                        to="360 18 18"
                                        dur="0.9s"
                                        repeatCount="indefinite"/>
                            </path>
                            <circle fill="#54B3AD" cx="36" cy="18" r="1">
                                <animateTransform
                                        attributeName="transform"
                                        type="rotate"
                                        from="0 18 18"
                                        to="360 18 18"
                                        dur="0.9s"
                                        repeatCount="indefinite"/>
                            </circle>
                        </g>
                    </g>
                </svg>
            </div>
        </div>

        <div class="closePopUpBtn"></div>

        <div class="login" ng-controller="userController">

            <img src="../../css/images/logo.png">

            <span class="facebook" translate="FACEBOOK_SIGN_IN" data-ng-click="singWithFacebook()"></span>
            <label class="or {{ message._class }} center">
                {{message.text}}
            </label>

            <sec-form>

                <sec-view a-hint="{{'User_name' | translate}}"
                          a-do-not-show-info="true"
                          a-star="false"
                          sec-model="loginUser.loginUser"
                          sec-require="mainCtrl.getRequire('User_name')">
                </sec-view>

                <sec-view a-hint="{{'Password' | translate}}"
                          a-do-not-show-info="true"
                          a-star="false"
                          a-type="password"
                          sec-model="loginUser.loginPassword"
                          sec-require="mainCtrl.getRequire('Password')">
                </sec-view>

                <sec-view a-hint="{{'Email' | translate}}"
                          a-do-not-show-info="true"
                          a-star="false"
                          ng-show="mainCtrl.config.emailAddressInLogin"
                          sec-disable-validation="!mainCtrl.config.emailAddressInLogin"
                          sec-model="loginUser.email">
                </sec-view>


                <div class="left option " style="top: 20px">
                    <input type="checkbox" ng-model="mainCtrl.rememberMe">
                    <span translate="REMEMBER_ME"></span>
                </div>

                <sec-sender class="roboto-medium" a-value="{{'SIGN_IN' | translate}}"
                            sec-send="signIn(loginUser, mainCtrl.rememberMe)"></sec-sender>


            </sec-form>

            <label class="forgot-Passwowd" translate="FORGOT_PASSWORD"
                   data-ng-click="forgotPassword()"></label>
            <label class="create-new-account" translate="CREATE_NEW_ACCOUNT"
                   data-ng-click="createNewAccount()"></label>

        </div>
    </div>

</div>
























