@import "../app/SECORRENTI/sec-input/css/sec-input-validation.css";


@import "../utils/noUiSlider.8.2.1/nouislider.css";

@import "UI.css";
@import "animation.css";

@import "icons/cart.css";
@import "icons/home.css";
@import "icons/magnifyingGlass.css";
@import "icons/phone.css";
@import "icons/user.css";
@import "icons/X.css";

@import "views/home_page.css";
@import "views/categoryPage.css";
@import "views/category_type_products_tpl.css";
@import "views/productPage.css";
@import "views/toolTipCart.css";
@import "views/toolTipSearch.css";
@import "views/shoppingCart.css";
@import "views/supportPage.css";
@import "views/searchPage.css";

@import "modals/popUp.css";
@import "modals/e-sec-plus-minus.css";
@import "modals/info-demo.css";
@import "modals/validateInput.css";

@import "user/login.css";
@import "user/register.css";

@import "order/orderPayment/orderPayment.css";
@import "order/orderPayment/userNotLogin.css";
@import "order/orderPayment/userAreLogin.css";
@import "order/orderPayment/orderPaymentSuccess.css";


@import "account/myAccount.css";
@import "account/myOrders.css";

@import "chat/chat.css";


#png {
    position: absolute;
    z-index: 90000;
    top:0;
    top:-14px;
    opacity: 0.39;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
}

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1001;
    display: none;
}

.loader > div{
    position: absolute;
    top: 49%;
    left: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    transform: scale(1.6);

/*background-color: red;*/
}

.loader div:before{
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 0;*/
    /*right: 0;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*margin: 0 auto;*/
    /*background: -moz-linear-gradient(left,  rgba(135,224,253,0) 0%, rgba(85,180,174,1) 74%, rgba(84,179,173,1) 75%, rgba(84,179,173,1) 100%);*/
    /*background: -webkit-linear-gradient(left,  rgba(135,224,253,0) 0%,rgba(85,180,174,1) 74%,rgba(84,179,173,1) 75%,rgba(84,179,173,1) 100%);*/
    /*background: linear-gradient(to right,  rgba(135,224,253,0) 0%,rgba(85,180,174,1) 74%,rgba(84,179,173,1) 75%,rgba(84,179,173,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0087e0fd', endColorstr='#54b3ad',GradientType=1 );*/
    /*border-radius: 50%;*/
}



body{
    position: relative;
    left: 0;
    overflow-x: hidden;
    display: block;
}

/* start mobile button */

div.mobile-btn-handler {
    padding: 0 5px;
    margin: 16px 10px;
    display: none;
    cursor: pointer;
}

div.mobile-btn-handler span{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #333;
}

#mobile-section{
    background-color: white;
    position: fixed;
    top:38px;
    left: 9999px;
    height: 100%;
    z-index: 990;
}

#mobile-section ul {
    font-size: 0;
}

#mobile-section .cart{
    font-size: 12px;
    position: absolute;
    top:0px;
    padding: 10px 4px 10px 0;
    background-color: white;
    border-radius:0 10px 10px 0;
}

#mobile-section .img{
    padding: 14px;
    background-color: white;
    display: block;
    text-align: center;
    cursor: pointer;
    position: relative;
}

#mobile-section .img:active{
    background-color: #ededed;
}

#mobile-section .hi-user{
    font-size: 16px;
    display: block;
    position: relative;
    top: 7px;
}

.mobileTitle {
    position: fixed;
    top: 91px;
    z-index: 9999;
}

.pointer{
    cursor: pointer;
}
/* end mobile button */


.uiview {
    padding-top: 65px;
}

/* navagation */
header{
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 999;
    top: 0;
}

nav{
    direction: rtl;
}

nav .navLinks{
    display: none;
    white-space: nowrap;
}

nav ul {
    float: right;
    display: inline-block;
    margin: 7px 15px 0 0;
}

nav ul li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

nav ul li > ul{
    font-size: 0;
}

nav ul li > a{
    font-size:16px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    padding:9px;
    transition: all 1s ease;
    transform: scale(1);
    opacity: 1;
    color: #313131;
    white-space: nowrap;
}
nav ul li > a .mini-title{
    white-space: normal;
}

nav ul li a.searchSectionEnabled{
    transform: scale(0);
    opacity: 0;
}

nav ul li a span.cart{
    position: absolute;
    font-size:13px;
    top: -3px;
    right: -2px;
}


nav ul li a.menu{
    padding:10px 66px;
}

nav ul li:nth-child(3) a.menu{
    padding-right: 53px;
}

nav ul li > a:not(.img){
    opacity: .8;
    padding:15px 18px;
}

nav ul li a:not(.img):hover{
    opacity: 1;
}

nav .img {
    position: relative;
    top:4px;
}

nav .img > img {
    height: 25px;
}


nav .img > .hi-user{
    font-size: 15px;
    position: relative;
    top: -7px;
    padding: 0;
    left:-7px;
    margin-left: 11px;
    font-weight: 400;
    z-index: 1;
}


div.logo {
    float: left;
}

div.logo a{
    direction: ltr;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    font-size: 0;
}

div.logo a span{
    font-size: 30px;
    color: #313131;
    vertical-align: bottom;
    display: inline-block;
    position: relative;
    left:-2px;
    top:3px;
}

div.logo span.logoDemo{
    font-size: 21.5px;
    padding: 3px 2px;
}

div.logo img{
    vertical-align: top;
    padding: 10px 25px ;
}





/* scrolling page to top  */

#scrollToTop{
    position: fixed;
    margin: 70px 20px;
    bottom: 0;
    right: 0;
    opacity: .8;
    transition: all 1s ease;
    display: none;
    z-index: 9999;
    border-radius: 100%;
}

#scrollToTop p{
    transform:scale(0.8);
    opacity: 0;
}

#scrollToTop:hover {
    opacity: 1;
}


.nav-li-Links{
    display: inline-block;
}

/* end scrolling page to top  */

.cell{
    display: table-cell;
}



/* FOLLOW US ----- footer*/

footer{
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    margin-top: 90px;
    background-color: #F4F4F2;
    font-size: 0;
    z-index: 50;
}

footer > div{
    padding: 10px 0;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

footer img{
    margin: 17px 31px;
    width: 82px;
}


footer label{
    font-size: 14px;
    padding: 34px 0 0 0 ;
    color: #6c6c6c;
    display: block;
}

footer .splitter{
    display: none;
}


/* end FOLLOW US */


#mobileSearch{
    position: relative;
    display: none;
}

#mobileSearch input {
    width: 100%;
    background-color: #ededed;
    padding: 7px;
    font-size: 18px;
    border: none;
    color: black;

}

#mobileSearch .img {
    position: absolute;
    top: 7px;
    right: 8px;
    cursor: pointer;
}

#mobileSearch ::-webkit-input-placeholder{
    font-weight: 300;
}

#mobileSearch :-ms-input-placeholder{
    font-weight: 300;
}

#mobileSearch :-moz-placeholder{
    font-weight: 300;
}

#toast {
    top: 60px;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.85);
    z-index: 999;
    position: fixed;
    display: none;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 88%;
    text-align: center;
    font-weight: 600;
    color:white;
}

#toast a{
    padding: 10px;
    display: block;
}



#team {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

#team .container{
    display: table-cell;
    vertical-align: middle;
}

#team .img{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

#team .img img{
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 80px rgba(255, 255, 255, 0.9), 0 30px 70px rgba(0, 0, 0, 0.9)
}


#teamIdToAnimate{
    display: none;
}

.animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.animated.zoomInDown {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
}

@keyframes hinge {

    0% {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    20% {
        -webkit-transform: rotate3d(0, 0, 1, 80deg);
        transform: rotate3d(0, 0, 1, 80deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    40%{
        -webkit-transform: rotate3d(0, 0, 1, 35deg);
        transform: rotate3d(0, 0, 1, 35deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 70deg);
        transform: rotate3d(0, 0, 1, 70deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }


    80% {
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
        transform: rotate3d(0, 0, 1, 60deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }

    to {
        /*-webkit-transform: translate3d(0, 700px, 0);*/
        -webkit-transform: translate3d(-400px, 1200px, 0);
        transform: translate3d(-400px, 1200px, 0);
        opacity: 0;
    }
}

.hinge {
    -webkit-animation-name: hinge;
    animation-name: hinge;
}


@-webkit-keyframes zoomInDown {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -5000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -5000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes zoomInDown {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.zoomInDown {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
}




@media screen and (max-width: 1220px) {

    nav ul li > a:not(.img){
        padding:15px 12px;
    }

}

@media screen and (max-width: 1150px) {

    .nav-li-Links{
        display: none;
    }

    footer > div{
        width: 100%;
    }

    #mobileSearch{
        display: block;
    }

    #searchSection{
        display: none;
    }
}


@media screen and (max-width: 768px) {


    /* For all Pages */

    h3.roboto-regular{
        font-size: 26px;
    }

    /*


    */
    nav.pages
    {
        display: inline-block;
        width: 100%;
    }

    .pages,  .fixedImportant, h3.roboto-regular{
        position: static !important;
    }


    .noPromotedProductDiv{
        margin-top: 0px;
    }

    .sticky.fixed + div .category-type-products{
        margin-top: 0px;
    }

    .categoryData{
        display: none !important;
    }

    /*end For all Pages*/









    #searchSection > .searchPopUp > div,
    #searchSection > .searchPopUp > div:nth-child(1)
    {
        display: block;
        width: 100%;
    }

    #searchSection > .searchPopUp > div:nth-child(1)
    {
        height: auto;
    }

    /*.desktop-handler{*/
    /*display: none;*/
    /*}*/

    /*div.logo img{*/
    /*vertical-align: top;*/
    /*padding: 10px 0;*/
    /*}*/

    /*div.mobile-btn-handler{*/
    /*display: inline-block;*/
    /*}*/

    /*#searchSection > div {*/
    /*width: 90%;*/
    /*}*/

    footer img{
        margin: 0 19px;
        width: 16%;
    }

    div.logo img{
        vertical-align: top;
        padding: 10px 0;
        margin: 0 12px;
    }

}


@media screen and (max-width: 480px) {


    .uiview {
        padding-top: 40px;
    }

    header{
        /*border-bottom: solid #d0d0d0 1px*/
    }

    div.logo a{
        padding: 0;
        padding-top: 6px;
    }

    div.logo svg{
        transform: scale(0.8);
        position: relative;
        top:5px;
    }

    div.logo span.logoDemo{
        font-size: 14px;
    }

    .pages{
        display: none !important;
    }

    #special_offer_items, .slider, #popular_items{
        display: none;
    }

    .desktop-handler{
        display: none;
    }

    footer {
        margin-top: 0px;
    }

    div.mobile-btn-handler{
        display: inline-block;
    }

    #searchSection > div {
        width: 90%;
    }

    #scrollToTop{
        display: none !important;
    }

    div.logo {
        float: none;
        display: block;
        text-align: center;
    }

    div.logo a{
        -webkit-transform: translateX(-29px);
        -ms-transform: translateX(-29px);
        -o-transform: translateX(-29px);
        transform: translateX(-29px);
    }

    div.logo a span {
        font-size: 22px;
    }

    div.logo svg{
        width: 25px;
        height: 25px;
        top: 2px;
    }

    div.logo #mobile-btn{
        float: left;
    }

    div.mobile-btn-handler{
        margin: 5px 2px;
    }

    h3.roboto-regular{
        font-size: 22px;
    }

    #mobileSearch .img {
        top: 51px;
    }

}

