
<footer>
    <div>
        <!-- FOLLOW US -->
        <h3 class="roboto-regular center">
            FOLLOW US <!-- {{'FOLLOW_US' | translate}} -->
        </h3>
        <div id="follow" class="center">
            <a target="_blank" href="https://www.facebook.com/pages/HP-Application-Lifecycle-Management/142893435778219?fref=ts">
                <img src="css/images/facebook.png" alt="icon" data-ng-click="linkTo('')" />
            </a>
            <a target="_blank" href="https://twitter.com/HPE_ALM">
                <img src="css/images/twitter.png" alt="icon" />
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/1024?trk=tyah&trkInfo=clickedVertical%3Ashowcase%2CclickedEntityId%3A1024%2Cidx%3A2-1-2%2CtarId%3A1454314829327%2Ctas%3Ahewlett%20packard%20enterprise%20software">
                <img src="css/images/linkedin.png" alt="icon" />
            </a>
        </div>
        <label> © Advantage Inc, 2016. Release 1.0.5 </label>
    </div>
</footer>















